.heading--images > img {
  aspect-ratio: 1/1;
}
.heading3--images {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 780px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.heading3--images--container > img {
  aspect-ratio: 16/9;
}
